*{
    margin: 0;
    padding: 0;
}

h1{
   text-align: center; 
   color: rgb(252, 252, 252);
   text-shadow: 4px 4px 4px rgb(231, 229, 229);
   background-color: black;
   padding: 40px;
   margin: 0;
   font-size: 50px;
}

.navegacion{
    padding: 10px;
    margin: 0;
    background-color: rgb(226, 11, 11);
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

.navegacion1{
    text-align: center;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    
}

.navegacion1 a{
    margin-right: 30px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.navegacion1 a:hover{
    color: rgb(133, 125, 125);
}

.banner{
    width: 100%;
    height: 700px;
    object-fit: cover;
    display: block;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.etiqueta1{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.etiqueta2{
    
}

.etiqueta3{

}

.idioma{
    position: relative;
    display: inline-block;
}

.boton-idioma{
    background-color: #c40000;
    color: white;
    border: 1px solid white;
    padding: 10px 25px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.menu-idioma{
    display: none;
    position: absolute;
    background: #222;
    min-width: 160px;
}

.menu-idioma a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 12px;
}

.menu-idioma a:hover{
    background: #444;
}

.idioma:hover .menu-idioma{
    display: block;
}